@model TravelTripProje.Models.Siniflar.Blog
@{
    ViewBag.Title = "BlogGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Blog Güncelle</h2>
<br />

<form method="post" class="form-group">
    @Html.HiddenFor(x => x.ID)
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Blog Güncelle</button>
</form>

